Repository stratum-mining/stratum, pull requests merged in 2023-02, with the labels that each got.

#423 Pool: Status Channel
  Cargo.lock
  protocols/v2/roles-logic-sv2/src/errors.rs
  roles/translator/proxy-config.toml
  roles/translator/src/downstream_sv1/downstream.rs
  roles/translator/src/proxy/bridge.rs
  roles/translator/src/upstream_sv2/upstream.rs
  roles/v2/pool/Cargo.toml
  roles/v2/pool/src/error.rs
  roles/v2/pool/src/lib/mining_pool/message_handler.rs
  roles/v2/pool/src/lib/mining_pool/mod.rs
  roles/v2/pool/src/lib/mining_pool/setup_connection.rs
  roles/v2/pool/src/lib/template_receiver/mod.rs
  roles/v2/pool/src/lib/template_receiver/setup_connection.rs
  roles/v2/pool/src/main.rs
  roles/v2/pool/src/status.rs
  test/config/pool-mock-tp.toml
  test/message-generator/test/pool-sri-test-1.json
  utils/error-handling/src/lib.rs
Labels: sv2 pool

#425 TProxy Upstream and Bridge error handling
  .gitignore
  roles/translator/src/error.rs
  roles/translator/src/main.rs
  roles/translator/src/proxy/bridge.rs
  roles/translator/src/status.rs
  roles/translator/src/upstream_sv2/upstream.rs
  roles/translator/src/upstream_sv2/upstream_connection.rs
Labels: translation proxy

#440 Fix segwit commitment
  protocols/v2/roles-logic-sv2/src/errors.rs
  protocols/v2/roles-logic-sv2/src/job_creator.rs
  test/message-generator/mock/template-provider-mock0.json
Labels: sv2 pool

#439 Doc/roles logic sv2
  protocols/v2/roles-logic-sv2/src/errors.rs
  protocols/v2/roles-logic-sv2/src/handlers/mining.rs
  protocols/v2/roles-logic-sv2/src/routing_logic.rs
Labels: documentation

#442 Doc/roles logic sv2
  protocols/v2/roles-logic-sv2/src/job_dispatcher.rs
Labels: documentation

#449 Add coverage from message generator to coverage action
  .github/workflows/coverage.yaml
  mg-codecov-tests.sh
  protocols/v2/binary-sv2/binary-sv2/Cargo.toml
  rust-toolchain.toml
  test/config/proxy-config-test-multiple-upstreams-extended-jn.toml
  test/config/proxy-config-test-multiple-upstreams-extended.toml
  test/config/proxy-config-test-multiple-upstreams.toml
  test/message-generator/cov/cov_test.json
  utils/message-generator/README.md
Labels: message-generator

#422 382 use correct coinbase output value
  INTEROPERABILITY-TESTS.md
  protocols/v2/roles-logic-sv2/src/channel_logic/channel_factory.rs
  protocols/v2/roles-logic-sv2/src/job_creator.rs
  protocols/v2/roles-logic-sv2/src/job_dispatcher.rs
  protocols/v2/roles-logic-sv2/src/utils.rs
Labels: channel-factory

#441 Feat/coinbase config
  roles/v2/pool/pool-config.toml
  roles/v2/pool/src/lib/mining_pool/mod.rs
  roles/v2/pool/src/main.rs
  test/config/pool-config-sri-tp-different-port.toml
  test/config/pool-config-sri-tp.toml
  test/config/pool-mock-tp.toml
  test/message-generator/test/pool-sri-test-extended_0.json
  test/message-generator/test/pool-sri-test-extended_1.json
Labels: sv2 pool

#398 Send NewMiningJob before SNPH on start with OpenStandardChannel
  protocols/v2/roles-logic-sv2/src/channel_logic/channel_factory.rs
  roles/v2/pool/conf/pool-config-local.toml
  roles/v2/pool/conf/pool-config-regnet-hosted.toml
  roles/v2/pool/conf/pool-config-testnet-hosted.toml
  roles/v2/pool/src/lib/mining_pool/mod.rs
  test/message-generator/test/pool-sri-test-1-standard.json
Labels: specs, sv2 pool
