Repository stratum-mining/stratum, pull requests merged in 2023-01, with the labels that each got.

#395 Feat: TProxy Status Channel
  Cargo.lock
  protocols/v1/src/lib.rs
  protocols/v2/noise-sv2/Cargo.toml
  protocols/v2/roles-logic-sv2/src/errors.rs
  protocols/v2/roles-logic-sv2/src/handlers/mining.rs
  protocols/v2/subprotocols/mining/src/lib.rs
  roles/translator/Cargo.toml
  roles/translator/src/downstream_sv1/downstream.rs
  roles/translator/src/error.rs
  roles/translator/src/main.rs
  roles/translator/src/proxy/bridge.rs
  roles/translator/src/status.rs
  roles/translator/src/upstream_sv2/upstream.rs
  roles/v2/pool/pool-config.toml
  utils/buffer/src/buffer_pool/mod.rs
  utils/error-handling/Cargo.toml
  utils/error-handling/src/lib.rs
  utils/network-helpers/src/noise_connection_async_std.rs
Labels: translation proxy

#394 Add modularity for messages MG
  test/message-generator/messages/common_messages.json
  test/message-generator/mock/template-provider-mock0.json
  utils/message-generator/src/parser/frames.rs
  utils/message-generator/src/parser/sv2_messages.rs
Labels: message-generator

#411 Mg add doc to actions
  test/message-generator/test/it_open_test.json
  test/message-generator/test/pool-sri-test-1.json
  utils/message-generator/Cargo.lock
  utils/message-generator/src/executor.rs
  utils/message-generator/src/main.rs
  utils/message-generator/src/parser/actions.rs
Labels: message-generator

#405 TProxy: Downstream Kill Switch
  Cargo.lock
  roles/translator/Cargo.toml
  roles/translator/src/downstream_sv1/downstream.rs
  roles/translator/src/downstream_sv1/mod.rs
  roles/translator/src/error.rs
  roles/translator/src/main.rs
  roles/translator/src/proxy/bridge.rs
  roles/translator/src/status.rs
  roles/translator/src/upstream_sv2/upstream.rs
  utils/error-handling/src/lib.rs
Labels: translation proxy

#406 Restore Message Generator GH action
  .githooks/pre-push
  .github/workflows/message-generator-check.yaml
Labels: message-generator

#409 Added docs around starting up the various roles
  INTEROPERABILITY-TESTS.md
  README.md
Labels: documentation

#415 Fixed test.json to work with current main
  utils/message-generator/test.json
Labels: message-generator
